.clock {
  width: 500px;
  height: 200px;
  background-color: orange;
  color: white;
  border: 5px solid black;
  margin: auto;
}

.clock > h1 {
  text-align: center;
  color: white;
  margin: 40px;
  font-family: monospace;
  font-size: 30px;
}

.test {
  /* background-color: blue; */
}